<% if object.tags(:api).any? { |tag| tag.text == 'public' } %>
  <div class="tags">
    <div class="note notetag">
      <p>This method is part of Reek's public API.</p>
    </div>
  </div>
<% end %>
